@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'UnimedSans';
    src: url(../../assets/fonts/UnimedSans-Regular.otf);
}

@font-face {
    font-family: 'UnimedSlab';
    src: url(../../assets/fonts/UnimedSlab-Regular.otf);
}
